.hero-animate {
  animation: animate alternate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(15px);
  }
}

.delete-btn {
  position: relative;
  background-color: #f50057;
}

.delete-btn:hover {
  box-shadow: 0px 0px 10px #f50057;
}

.edit-btn {
  position: relative;
  background-color: #007bff;
}

.edit-btn:hover {
  box-shadow: 0px 0px 10px #007bff;
}